@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

:root {
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
  --white: #ffffff;
}

.display-flex {
  display: flex;
}

/* Navbar styles */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 50px;
}
.nav-links {
  gap: 34px;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1rem;
}
.nav-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Responsive Design */

@media screen and (max-width: 576px) {
  .navbar {
    padding-top: 35px;
    max-width: 328px;
  }
  .nav-item {
    display: none;
  }
  i.searchbar {
    display: none;
  }
}
