@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Shared Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

:root {
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
  --white: #ffffff;
}

.display-flex {
  display: flex;
}

/* Navbar styles */
.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 96px;
  margin-bottom: 80px;
}
.nav-links {
  gap: 34px;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1rem;
}
.nav-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color);
}
/* Banner Styles */
.banner {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.banner-content {
  max-width: 582px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 4.375rem;
  color: var(--primary-color);
}
.banner-description {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
  margin-top: 16px;
  margin-bottom: 30px;
}
.banner-image {
  width: 475px;
  height: 475px;
  background-image: url("../images/Circle design.svg");
  background-size: contain; /* ensures full circle stays visible */
  background-repeat: no-repeat;
  background-position: center;
}
.camera-img {
  width: 100%;
}
.prebook-btn {
  padding: 10px 24px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* Main section */
main {
  max-width: 1110px;
  margin: 0 auto;
}
main > section {
  margin-bottom: 100px;
}
.custom-hr {
  border: 0;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50%,
      rgba(192, 204, 218, 0.1) 100%
    )
    1;
}
.sponsors {
  margin-top: 36px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  justify-content: center;
  align-items: center;
}
/* Popular section style */
.popular-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.175rem;
  color: var(--primary-color);
  line-height: 4.375rem;
  margin-bottom: 50px;
}
.card {
  width: 329px;
  height: 476px;
  padding: 17px 15px;
  background-color: var(--white);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.card-img {
  width: 100%;
  margin-bottom: 16px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card-title {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #18191f;
  margin-bottom: 6px;
}
.dollar-amount {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
}
/* Responsive Design */

@media screen and (max-width: 576px) {
  .navbar {
    padding-top: 35px;
    max-width: 328px;
  }
  .nav-item {
    display: none;
  }
  i.searchbar {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    margin: 14px 18px 50px 18px;
  }
  .banner-image {
    height: 257px;
    width: 257px;
  }
  .banner-title {
    text-align: center;
    font-size: 1.75rem;
    line-height: normal;
  }
  .banner-description {
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
  }
  .prebook-btn {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 500;
  }
  .custom-hr {
    display: none;
  }
  .sponsors {
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
  }
  .sponsors img {
    width: 60px;
  }
  main {
    max-width: 329px;
    margin: 0 auto;
  }
}
